/* סגנון גופן */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    direction: rtl; /* הוספת כיוון טקסט מימין לשמאל */
}

/* סגנון כותרת ראשית */
header {
    text-align: center;
    padding: 50px 0;
    background-color: #007bff;
    color: white;
}

/* סגנון כרטיס מתכון */
.featured-recipes {
    padding: 20px;
    margin: 20px auto;
    max-width: 900px;
}

.featured-recipes h2 {
    text-align: center;
    margin-bottom: 30px;
}

.recipe-card {
    display: flex;
    margin-bottom: 30px;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0);
}

.recipe-card img {
    width: 200px;
    height: auto;
    object-fit: cover;
}

.recipe-info {
    padding: 20px;
}

.recipe-info h3 {
    margin-top: 0;
}

.recipe-info p {
    margin-bottom: 10px;
}

.recipe-info a {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 8px 16px;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.recipe-info a:hover {
    background-color: #007bff;
}

/* סגנון כותרת תחתונה */
footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}
.carousel {
    text-align: center;
    padding: 20px;
}
    .carousel-container {
      position: relative;
      overflow: hidden;
      margin: 0 auto;
      max-width: 900px;
  
      .carousel-button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: none;
        border: none;
        cursor: pointer;
        font-size: 24px;
        color: #333;
        outline: none;
      }
  
      .prev {
        left: 0;
      }
  
      .next {
        right: 0;
      }
  
      .carousel-wrapper {
        overflow: hidden;
        margin: 0 40px;
        display: flex; 
      }
  
      .carousel-items {
        display: flex;
        width: calc(100% / 2); /* שינוי לרוחב של 33.33% */
        transition: transform 0.5s ease;
        // width:100%;
      }
    
      
      
      .carousel-item {
        width: calc(var(--item-width) * 1%);
        padding: 0 10px;
        box-sizing: border-box;
        text-align: center;
  
        img {
          width: 100%;
        //   height: auto;
          border-radius: 8px;
          object-fit: cover;
          height: 100px;
        }
  
        .recipe-info {
          padding: 10px 0;
          background-color: #f9f9f9;
          border-radius: 8px;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
          h3 {
            margin: 0;
            font-size: 18px;
          }
  
          p {
            margin: 5px 0;
            font-size: 14px;
            color: #666;
          }
        }
      }
    }
  
  