
<mat-card class="example-card">
    <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
    <img mat-card-image *ngIf="one.image" src="one.image" alt="Photo of a Shiba Inu">
    <mat-card-header>
        <mat-card-title>{{one.recipeName}}</mat-card-title>
       
      </mat-card-header>
    <mat-card-content>
      <p>
       
      </p>
    </mat-card-content>
    
    <mat-card-actions *ngIf="isLoggedIn">
      <button mat-button (click)="datiles(one._id)">...עוד</button>
    
    </mat-card-actions>
  </mat-card>
  
