<form ngForm #myForm="ngForm" (ngSubmit)="signIn(myForm)" >
<div #my>
<div class="example-container">
    <mat-form-field>
      <mat-label>Enter your email</mat-label>
      <input name="email"
             type="text" 
             ngModel
             #emailModel="ngModel"
             matInput
             placeholder="email@example.com"
             (blur)="updateErrorMessage()"
             required
             >
      @if (email.invalid) {
        <mat-error>{{errorMessage}}</mat-error>
      }
    </mat-form-field>
</div>
<div class="example-container">
    <mat-form-field>
      <mat-label>Enter your password</mat-label>
      <input type="password" 
             name="password"
             matInput
             ngModel 
             #passwordModel="ngModel" 
             [type]="hide ? 'password' : 'text'"
             >
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <section>
    <div class="example-button-row">
      <button  mat-stroked-button  color="primary">כניסה</button>
    </div>
  </section>
  <div *ngIf="errorUser">
    <mat-error>{{ errorUser }}</mat-error>
  </div>
</div>
</form> 
<div>
  <button mat-stroked-button (click)="move(myForm)" color="primary">הרשמה</button>
</div>

