<div class="login-container">
  <form ngForm #myForm="ngForm" (ngSubmit)="signIn(myForm)">
    <mat-form-field appearance="fill">
      <mat-label>אימייל</mat-label>
      <input name="email"
             type="text"
             ngModel
             #emailModel="ngModel"
             matInput
             placeholder="email@example.com"
             required
             pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.(com|net|org|edu|gov|mil|biz|info|mobi|name|aero|asia|jobs|museum)$">
             <mat-error *ngIf="emailModel.getError('pattern')">מייל לא תקין</mat-error>
      <mat-error *ngIf="emailModel.getError('required')">שדה חובה</mat-error>
     
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>סיסמה</mat-label>
      <input type="password"
             name="password"
             matInput
             ngModel
             #passwordModel="ngModel"
             [type]="hide ? 'password' : 'text'"
             placeholder="סיסמה">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">כניסה</button>
    <div *ngIf="errorUser">
      <mat-error>{{ errorUser }}</mat-error>
    </div>
  </form>

  <div class="register-link">
    <button mat-raised-button (click)="move(myForm)" color="accent">הרשמה</button>
  </div>
</div>
